@media only screen and (min-width: 768px) {
  .ornament-top,
  .menu1 {
    display: none;
  }

  .top-page {
    display: inline;
  }

  .header-desktop {
    display: flex;
    justify-content: center;
  }

  .header-desktop div {
    padding: 20px 20px 20px 20px;
  }

  .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    /* height: 877px; */
  }

  .top-text {
    max-width: 484px;
    background-image: url(/pic-desktop/image_dots.svg);
    /* padding: 0px; */
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 175px 175px;
    background-position: right bottom;
  }

  .ornamen-first-botom {
    background-image: url("/pic-desktop/Thur.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 702px;
    height: 877px;

    /* margin-left: auto; */

    /* margin-right: auto; */
    margin: 0;
  }

  .projects {
    transform: rotate(-90deg);

    /* float: left; */
    font-size: 110px;
  }

  .about-section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .categories {
    order: -1;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "languages frameworks"
      "skills";
  }

  .categories div {
    background-image: url(/pic-desktop/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 222px 222px;
    background-position: right bottom;
    width: 288px;
    height: 288px;
  }

  .languages,
  .frameworks,
  .skills {
    padding: 0;
    margin: 0;
  }

  .foot-section-andform {
    background-image: url(/pic-desktop/image-geometry_6.svg), url(/pic-desktop/image-geometry_7.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-size: 264px 351px, 351px 351px;
    background-position: left top, right bottom;
    height:950px ;
  }

  .social-media {
    display: flex;
  }
}
