@media only screen and (min-width: 768px) {
  .ornament-top,
  .menu1 {
    display: none;
  }

  .top-page {
    display: inline;
  }

  .header-desktop {
    display: flex;
    justify-content: center;
    transition: all 0, 5s ease-out;
  }



  .header-desktop div {
    padding: 20px 20px 20px 20px;
  }

  .header-desktop div:hover {
    background-color: #7d7c84;
  }

  .headline {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .top-text {
    max-width: 484px;
    background-image: url(/pic-desktop/image_dots.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 175px 175px;
    background-position: right bottom;
  }

  .top-name {
    font-size: 110px;
    width: 484px;
  }

  .top-buton {
    width: 254px;
    height: 70px;
  }

  .ornamen-first-botom {
    background-image: url("/pic-desktop/Thur.svg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left;
    width: 702px;
    height: 877px;
    margin: 0;
  }

  .projects {
    transform: rotate(-90deg);
    font-size: 110px;
  }

  .midle-section {
    display: grid;
    grid-template-columns: 0.3fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-template-areas:
      "projects project1"
      "project2 project3"
      "project4 project5"
      "project6";
  }

  .about-section {
    margin: 90px 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }

  .about-title {
    font-size: 110px;
    text-align: center;
    padding-left: 16px;
  }

  .about-p {
    color: #1a2236;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 21px;
    padding: 0 16px;
    max-width: 446px;
  }

  .categories {
    order: -1;
    padding-left: 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
      "languages frameworks"
      "skills categories-img";
  }

  .categories-img {
    background-image: url(/pic-desktop/image_dots_with_teal.svg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: 222px 222px;
    background-position: right bottom;
    width: 288px;
    height: 288px;
  }

  .languages,
  .frameworks,
  .skills {
    padding: 0;
    margin: 0;
  }

  .foot-section-andform {
    background-image: url(/pic-desktop/image-geometry_6.svg), url(/pic-desktop/image-geometry_7.svg);
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
    background-size: 264px 351px, 351px 351px;
    background-position: left top, right bottom;
    height: 950px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .foot-section-h {
    font-size: 110px;
    width: 548px;
    text-align: center;
  }

  .foot-section-p {
    margin: 0 0 30px 0;
    font-size: 14px;
    width: 548px;
  }

  .your-name-container div,
  .email-container div {
    margin: 0 0;
    font-size: 12px;
    color: #7d7c84;
  }

  .name-email-divs {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 542px;
  }

  .your-name-container {
    background-color: transparent;
    border: none;
    width: 254px;
    height: 78px;
  }

  .email-container {
    background-color: transparent;
    border: none;
    width: 253px;
    height: 78px;
  }

  input {
    width: 254px;
    height: 60px;
    border: 1px solid #dfdfe0;
  }

  .texarea-message {
    margin-top: 40px;
    display: block;
    font-size: 12px;
    color: #7d7c84;
  }

  textarea {
    width: 542px;
    height: 140px;
    align-self: center;
  }

  .start-coll-btn {
    margin-top: 60px;
    width: 254px;
    height: 70px;
  }

  .foot-botom {
    height: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .get-resume-btn {
    padding: 0 0 0 70px;
  }

  .social-media {
    padding: 0 90px 0 0;
    display: flex;
    justify-content: flex-end;
  }

  .social-media div {
    margin: 0 15px 0 15px;
  }
}
